input.Range {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #C0C0C0;
    outline: none;
}

input.Range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #24a0ed;
    cursor: pointer;
    border: none;
}

input.Range::-webkit-slider-thumb:hover {
    filter: brightness(85%);
}

input.Range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #24a0ed;
    cursor: pointer;
    border: none;
}

input.Range::-moz-range-thumb:hover {
    filter: brightness(85%);
}